.env
agent4refactoring
evaluation_projects
.DS_Store
.idea
space_token
__pycache__
logs
grazie-langchain-utils/
refagent/utils/analyze_and_send_email/
refagent/benchmark/_load.py
cal_temp.py
eval_temp.py
refactorings_temp.py
skewedness_calc
/temp