.env
agent4refactoring
evaluation_projects
.DS_Store
.idea
space_token
__pycache__
logs

# JSON and JSONL files
*.jsonl
*.eml
*.png
*.csv
*.log
*.txt

refagent/utils/analyze_and_send_email
refagent/utils/send_email/analysis_result
refagent/utils/send_email/projects
grazie-langchain-utils/
skewedness_calc
temp