.env
agent4refactoring
evaluation_projects
.DS_Store
.idea
space_token
__pycache__
logs

# JSON and JSONL files
*.json
*.jsonl
*.eml
*.png
*.csv
*.log
*.txt

grazie-langchain-utils/
skewedness_calc
temp